.promocion-container{
    color: white !important;
    background-color: rgb(243, 136, 186);
    padding: 4rem !important;
    font-family: $letra-principal;
    font-size: 2rem;
}
.card{
    color: $letra;
}